body, html, .container, #colMessege{
  position: relative;
  height: 100%;
  width: 100%;
}

textarea.form-control {
  height: 100%;
}

#rowMessege{
  position: relative;
  height: 90%;
}

/*#colMessege{
  position: relative;
  height: 100%;
}

.container{
  position: relative;
  height: 100%;
}*/
