html{
  background-color: #FFEDF2;
}

body{
  font-size: 25px;
  text-align: center;
  font-family: 'Patua One', cursive;
}

#login a{
  text-decoration: none;
  color: black;
}

.myInfoPhoto, .userInfo img{
 border-radius: .5rem;
}

#followButton{
  display: none;
}

#userAllInfo{
  display:flex;
  flex-direction: row;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

#userName{
 display:none;
 border: .4rem solid #E36588;
 border-radius: .5rem;
 margin: 1rem;
 font-size: 1rem;
 padding: 2rem;
 width: 50rem;
 color: #535353;
}

#userInfo{
 display:inline;
 width: 50rem;
 margin: auto;
}

#userInfo img{
  width: 100px;
}

#logout {
 display: none;
   }
