html{
<<<<<<< HEAD
  background-color: #EAE3F2;
=======
  background-color: white;
>>>>>>> origin/master
  color: #535353;
}

body{
  font-size: 20px;
  text-align: center;
  font-family: 'Patua One', cursive;
}

#login a{
  text-decoration: none;
  color: black;
}

#myInfoBio{
  font-size: 15px;
}

.myInfoPhoto img{
 border-radius: .5rem;
}

#myPhoto img{
  width: 100px;
  margin: 10px;
}

<<<<<<< HEAD
=======
#myPhoto{
  font-size: 10px;
}

>>>>>>> origin/master
.userInfo img{
 border-radius: .5rem;
 width: 100px;
 margin: 10px;
}

#followButton{
  display: none;
}

#userAllInfo{
  display:flex;
  flex-direction: row;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

#userName{
 display:none;
 border: .3rem solid black;
 border-radius: .5rem;
 margin: 1rem;
 font-size: 1rem;
 padding: 2rem;
 width: 50rem;
 color: #535353;
}

#userInfo{
 display:inline;
 width: 50rem;
 }

#logout {
 display: none;
   }
