html{
  background-color: #EAE3F2;
  color: #535353;
}

body{
  font-size: 15px;
  text-align: center;
  font-family: 'Patua One', cursive;
}

#login a{
  text-decoration: none;
  color: black;
}

#myInfoBio{
  font-size: 15px;
}

.myInfoPhoto img{
 border-radius: .5rem;
}

#myPhoto img{
  width: 100px;
  margin: 10px;
}

#myPhoto{
  font-size: 10px;
}

.userInfo img{
 border-radius: .5rem;
 width: 100px;
 margin: 10px;
}

#followButton{
  display: none;
}

#follow{
  background-color: pink;
  color: white;
  border-style: none;
}

#follow:hover{
  background-color: black;
  color: white;
}

#userAllInfo{
  display:flex;
  flex-direction: row;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

#userName{
 display:none;
 border: .3rem dashed pink;
 border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
 margin: 1rem;
 font-size: 1rem;
 padding: 2rem;
 width: 50rem;
 color: #535353;
}

#userInfo{
 display:inline;
 width: 50rem;
 }

#logout {
 display: none;
   }

#logout a{
  text-decoration: none;
  color: black;
}

a img{
  padding: 1px 0 0 0;
}

a:hover img{
  padding: 0 0 1px 0;
}
