@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
 html{
   font-size: 62.5%;
 }

 *,*::before,*::after{
   box-sizing: border-box;
 }

 body{
   background: #151515 url('../images/bg2.jpg') no-repeat fixed left bottom;
   background-size: cover;
   color: #fff;
   text-align: center;
   font-size: 1.4rem;
   font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
 }


 /* --------------------------------
  * header
  * -------------------------------- */

  .header{
    padding: 30px 30px 90px;
    background-color: rgba(255, 255, 255, 0.10);
  }

  #site-logo{
    /*float: left;*/
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  img#site-logo{
    vertical-align: middle;
  }

  .nav_links{
    margin: 0;
  }

  .nav_links a{
    color: #fff;
    text-decoration: none;
  }

  .nav-menu{
    margin: 0 5px;
    padding: 10px 5px;
  }

  .nav-menu:hover{
    background-color: #333;
    border-radius: 10px;
  }

  .site-main{
    margin: 100px 0 60px;
    font-size: 3.8rem;
    letter-spacing: 2px;
    line-height: 1.4;
  }

  .site-description{
    font-size: 1.8rem;
  }


  /* --------------------------------
   * services
   * -------------------------------- */

   .service{
     padding: 80px 60px 100px 60px;
     background-color: #fff;
     color: #333;
     font-size: 1.8rem;
   }

   .catch-cp{
     margin-bottom: 30px;
   }

   .service-description{
     text-align: start;
     display: inline-block;
     vertical-align: middle;
     letter-spacing: 1.5px;
     line-height: 1.5;
   }

   .service-photo{
     width: 400px;
     height: 250px;
     margin-top: 20px;
     margin-right: 40px;
   }

   img.service-photo{
     vertical-align: middle;
   }

   .main-description{
     font-family: 'Vollkorn', serif;
   }

   span.sub-description{
     font-size: 1.6rem;
     font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
   }

   .learnmore{
     color: #028090;
     text-decoration: none;
     display: inline-block;
     transition: .3s;
   }

   .learnmore:hover{
    letter-spacing: 2px;
    color: #AE7F51;
   }


   /* --------------------------------
    * services
    * -------------------------------- */

   .client{
     padding: 80px 60px 100px 60px;
     background-color: #333;
     color: #fff;
     font-size: 1.8rem;
   }

   .client-wrapper{
     display: table;
     width: 80%;
     margin: 50px auto 0;
     table-layout: fixed;
   }

   .client-box{
     display: table-cell;
   }

   .client-center-pic{
     position: relative;
   }

   .client-center-pic .fa {/*classがfaのアイコンに対して*/
     position: absolute;
     top: 50%;
     left: 50%;
     -ms-transform: translate(-50%,-50%);
     -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
     margin:0;/*余計な隙間を除く*/
     padding:0;/*余計な隙間を除く*/
     color: pink;/*アイコン色*/
     font-size: 60px;/*サイズ*/
  }

   .client-pic{
     width: 200px;
     height: 200px;
   }
