body{
  background-image: url("../img/bgh.jpg");
  background-color: #E0E0E2;
  background-size: cover;
}

#div-profile1{
  font-family: "Bungee", "Aref Ruqaa", arial;
  font-size: 20px;
  margin-top: 50px;
  background-color: white;
   padding-left: 15px;
   margin-left: 35px;
   background-color: white;
   top: 20px;
}

#div-profile2{
  font-family: "Bungee","Aref Ruqaa", arial;
  font-size: 15px;
  margin-left: 60px;
}

#div-profile3{
  font-family: "Bungee","Aref Ruqaa", arial;
  font-size: 15px;
  margin-left: 40px;
}

#div-bk{
  background-color:#F7F7FF;
  padding-left: 3px;
  /*top: 20px;*/
}

.div-waku{
border: 5px solid black;
 padding: 1px;
 height: 30%;
 width: 78%;
 top: 10px;
 margin: 0px 0px 10px 0px;
}

.div-photo1 img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-left: 75px;
}

.div-menu{
  font-family: "Bungee","Aref Ruqaa", arial;
  font-size: 15px;
  margin-left: 30px;}

  .nav-pills a {
      color: #333333;
  }

  .nav-pills a:hover {
      color: #ffffff;
      border-radius: 3px;
  }

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #337ab7;
}


#div-sns{
  text-align: right;
}

div.PhotoBox {
   float: left;
   position: relative;
   overflow: hidden;
   margin: 0px 1em 1em 0px;
   width: 280px;
   height: 180px;
}

div.PhotoBox div.SlideBox {
   position: absolute;
   left: 0px;
   top: 180px;
   width: 200px;
   height: 180px;
   background-color: #160F29;
   color: white;
}

div.SlideBox2 {
   position: absolute;
   left: 0px;
   top: 180px;
   width: 200px;
   height: 180px;
   background-color: #224870;
   color: white;
}

div.SlideBox3 {
   position: absolute;
   left: 0px;
   top: 180px;
   width: 200px;
   height: 180px;
   background-color: #246A73;
   color: white;
}

div.SlideBox4 {
   position: absolute;
   left: 0px;
   top: 180px;
   width: 200px;
   height: 180px;
   background-color: #368F8B;
   color: white;
}

div.PhotoBox p.Caption {
   text-align: center;
   font-size: 18px;
   font-family: "Aref Ruqaa",arial;
   margin: 0.5em;
}
