body{
  /*background-image: url("../img/bg2.jpg");*/
  background-color: #2B2B2B;
  /*background-size: cover;*/
}

#div-menu{
  font-family: "Bungee", "Aref Ruqaa", arial;
  font-size: 10px;
  padding-top: 10px;
  padding-left: 900px;
}

.navbar a {
    color: #333333;
}

.navbar a:hover {
    color: #ffffff;
    border-radius: 3px;
}

.nav>a:hover,
.nav>a:focus {
  text-decoration: none;
  background-color:#337ab7;
}

#div-pf{
  font-family: "Bungee", "Aref Ruqaa", arial;
  background-color:#F7F7F7;
  padding-left: 3px;
}

.div-profile1{
  font-size: 20px;
  text-align: center;
}

.div-profile2 , .div-profile3{
  font-size: 15px;
  text-align: center;
}

.div-waku{
border: 5px solid black;
 padding: 1px;
 width: 78%;
 top: 10px;
 margin: 30px 0px 15px 35px;
}

#div-sns{
  font-size: 15px;
  text-align: right;
}

div.PhotoBox {
   float: left;
   position: relative;
   overflow: hidden;
   margin: 0px 1em 1em 0px;
   width: 280px;
   height: 180px;
}

div.SlideBox, .SlideBox2, .SlideBox3, .SlideBox4{
  position: absolute;
  left: 0px;
  top: 180px;
  width: 200px;
  height: 180px;
  color: white;
}

div.SlideBox {
   background-color: #160F29;
}

div.SlideBox2 {
   background-color: #224870;
}

div.SlideBox3 {
   background-color: #246A73;
}

div.SlideBox4 {
   background-color: #368F8B;
}

div.PhotoBox p.Caption {
   text-align: center;
   font-size: 18px;
   font-family: "Aref Ruqaa",arial;
   margin: 0.5em;
}
