@charset "UTF-8";
/* --------------------------------
 * base
 * -------------------------------- */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: white;
  color: #333;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.main_phrase {
  color: #456990;
  font-size: 3rem;
  font-weight: 100;
  margin: 0 10px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.button {
  width: 140px;
  display: inline-block;
  border: solid 1px #333;
  text-align: center;
  float: right;
  padding: 10px;
}

.button_deco {
  color: #333;
  text-decoration: none;
  letter-spacing: 1px;
}

.button:hover {
  color: #456990;
  background-color: #fff;
}

#nav-open {
  display: none;
}

/* --------------------------------
 * header
 * -------------------------------- */

#header {
  padding: 10px;
  color: white;
  background-color: #222222;
}

img.cm_logo {
  vertical-align: middle;
  margin: 5px 0 5px 10px;
}

p.head-navigation {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  margin: 0;
}

.nav_margin {
  padding: 0 20px;
}

.nav_deco {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-decoration: none;
}

.nav_deco:hover {
  color: #456990;
  opacity: 0.95;
}

.navi_group {
  float: right;
  padding: 10px 0;
}

.nav-wrap-mobile{
  display: none;
}


/* --------------------------------
 * Top Section
 * -------------------------------- */

#top_section {
  background-color: #2E294E;
  /* opacity: 0.95; */
}

.catchphrase_deco {
  color: #F7F4DA;
  display: inline-block;
}

.catchphrase {
  font-size: 5.2rem;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

img#top_image {
  float: right;
  max-width: 100%;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}

img.pc {
  display: block !important;
}

img.mobile {
  display: none !important;
}

.catchphrase-box {
  position: relative;
  background-color: #2E294E;
  width: 400px;
}

.catchphrase-box-child {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 30px;
}

.sub-catchphrase {
  font-family: 'Libre Baskerville', serif;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 1.2px;
  margin-top: 20px;
}

.arrow_place {
  /* text-align: center; */
  position: absolute;
  margin: 0;
  left: 45.5%;
}

.arrow {
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.arrow:hover {
  color: #333;
}

.fa-chevron-down {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1.8px #2E294E;
}

/* --------------------------------
* What we do
* -------------------------------- */

#whatwedo {
  /*height: 640px;*/
  text-align: center;
  background-color: #fff;
  padding: 70px 0;
}

.sub_copy_cms {
  font-size: 1.6rem;
  margin: 30px 0 60px 0;
}

img.casestudy_img {
  margin-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

.content {
  position: relative;
  margin: 20px auto;
  width: 90%;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 0%;
  background-color: rgba(15, 139, 141, 0.85);
  color: #fff;
  padding: 5px;
  margin: 0;
}

/*p#caption_sora_description {
  position: absolute;
  top: 3%;
  right: 5%;
  margin: 0;
  color: #00D0DB;
  opacity: 0.4;
  font-size: 1.1rem;
}*/

p#caption_sora {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

#sora_pic {
  width: 80%;
}

.casestudy_wrapper {
  display: table;
  width: 95%;
  margin: 50px auto;
  table-layout: fixed;
}

.casestudy_wrapper_box {
  display: table-cell;
}

.button_learn {
  float: none;
  color: #456990;
  background-color: #fff;
  border: solid 1px #456990;
  font-size: 1.2rem;
  border-radius: 5px;
}

.button_learn:hover {
  background-color: #456990;
  color: #fff;
  transition: all 0.5s ease;
}

/* --------------------------------
* 3 points
* -------------------------------- */

#three-points {
  /*height: 540px;*/
  text-align: center;
  background-color: #F3F7FB;
  padding: 70px 0;
}

.advantage {
  font-size: 3rem;
}

.points-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto;
  table-layout: fixed;
}

.points-box {
  display: table-cell;
}

.points-icon-circle {
  margin: 0 auto;
  color: #0F8B8D;
  font-size: 10rem;
}

.points-title {
  color: #456990;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.points-text {
  font-size: 1.5rem;
  margin: auto 25px;
  line-height: 1.6;
  text-align: center;
}

.whatwedo_button_margin {
  margin: 25px 0;
}

/* --------------------------------
* your_solution
* -------------------------------- */

#your_solution {
  /*height: 80%;*/
  margin: 80px 0;
  background-color: #fff;
}

.solution_wrapper {
  margin: 0 auto;
  width: 75%;
  box-shadow: -9px 10px 39px -1px rgba(15, 9, 1, 0.66);
}

.pic_meeting {
  width: 50%;
  height: 100%;
  float: left;
  -webkit-filter: sepia(50%);
  filter: sepia(50%)
}

.solution_box {
  position: relative;
  background-color: #0F8B8D;
  width: 50%;
  float: right;
  opacity: 0.9;
}

.your_solution_catch_wrapper {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.your_solution_catch {
  font-size: 4rem;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  padding: 0;
  color: #F7F4DA;
  margin: 0;
}

.your_solution_description {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  line-height: 1.8;
  margin: 6% 0;
  color: #fff;
}

.solution_button_deco {
  color: #fff;
  border: solid 1px #fff;
  font-size: 1.2rem;
  width: 25%;
  text-align: center;
  float: right;
  padding: 6px;
}

.solution_button_deco:hover{
  background-color: #fff;
  color: #1A9A9A;
}

/* --------------------------------
* contact
* -------------------------------- */

#contact {
  padding: 50px 0;
  background-color: #F3F7FB;
}

.contact_wrapper {
  /*width: 80%;*/
  /*height: 250px;*/
  margin: 0 auto;
  text-align: center;
}

.button_contact {
  float: none;
  color: #fff;
  background-color: #F45B69;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.button_contact:hover {
  background-color: #456990;
  color: #fff;
  transition: all 0.5s ease;
  letter-spacing: 2.5px;
}

.chat_sub{
  margin: 0 0 40px 0;
}

.contact_catchphrase {
  /*font-size: 4rem;*/
  margin: 0 0 30px 0;
  font-weight: bold;
}

/* --------------------------------
* footer
* -------------------------------- */

#footer {
  /*height: 120px;*/
  padding: 20px 0;
  background-color: #222222;
}

.cm_logo_footer {
  width: 45%;
  margin: 30px 0 5px 15px;
}

.copywrite {
  color: #888;
  margin: 0 15px;
  font-size: 1.2rem;
}

/* --------------------------------
 * some laptops
 * -------------------------------- */

@media (max-width: 1350px) and (min-width: 1025px) {
  /* --- solution --- */
  .your_solution_catch {
    font-size: 3rem;
  }
  .your_solution_description {
    font-size: 1rem;
  }
}

/* --------------------------------
  * tablet
  * -------------------------------- */

@media (max-width: 1024px) and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .main_phrase {
    font-size: 2.5rem;
  }
  .button {
    width: 110px;
    padding: 8px;
    font-size: 1rem;
  }
  #nav-open {
    display: none;
  }
  /* --- header --- */
  .nav_margin {
    margin: 20px 30px 10px 0;
  }
  /* --- top section --- */
  img.pc {
    display: block !important;
  }
  img.mobile {
    display: none !important;
  }
  .catchphrase-box {
    width: 315px;
  }
  .catchphrase {
    font-size: 4rem;
  }
  .sub-catchphrase {
    font-size: 1.2rem;
  }
  /* --- whatwedo --- */
  .caption {
    font-size: 1rem;
    padding: 5px;
    top: 0;
  }
  #sora_pic {
    width: 50%;
  }
  p#caption_sora_description {
    top: 4%;
    right: 4%;
    margin: 0;
    font-size: 0.8rem;
  }
  p#caption_sora {
    top: 0px;
    right: -30px;
  }
  /* --- 3 points --- */
  #three-points {
    /*height: 500px;*/
  }
  .points-wrapper {
    width: 90%;
    margin: 45px auto;
  }
  .points-text {
    font-size: 1.3rem;
  }
  .points-title {
    font-size: 1.6rem;
  }
  .sub_copy_cms {
    font-size: 1.3rem;
    margin: 30px 0;
  }
  /* --- solution --- */
  .solution_wrapper {
    width: 90%;
  }
  .your_solution_catch {
    font-size: 3rem;
  }
  .your_solution_description {
    font-size: 1rem;
    line-height: 1.6;
  }
  .solution_button_deco {
    font-size: 0.8rem;
    width: 30%;
  }
  /* --- contact ---*/
  #contact {
    padding: 40px 0;
  }
  .contact_catchphrase {
    margin: 30px 0 0 0;
  }
  /* --- footer ---*/
  .cm_logo_footer {
    width: 70%;
    margin: 6px 6px;
  }
}

/* --------------------------------
 * smart phone
 * -------------------------------- */

@media (max-width: 767px) {
  .main_phrase {
    font-size: 2rem;
    margin: 0 20px;
  }
  .sub_copy_cms {
    font-size: 1.2rem;
    margin: 20px 10px 30px 10px;
  }
  /* --- header --- */
  #header {
    /*height: 60px;*/
  }
  img.cm_logo {
    width: 70%;
    margin: 6px 6px;
  }
  .navi_group {
    display: none;
  }

  .nav-wrap-mobile {
    position: relative;
    display: inherit;
  }

  .scroll-nav {
    width: 100%;
    padding-left: 5px;
    background: #1A9A9A;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-nav ul {
    max-width: 1060px;
    min-width: 770px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }

  .scroll-nav ul li {
    float: left;
    width: 110px;
    text-align: center;
    display: flex;
	  align-items: center;
  }

  .scroll-nav ul li a {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    width: 100px;
    display: inline-block;
    color: #fff;
    background-color: #58B5B5;
    border-radius: 10px;		/* CSS3草案 */
	  -webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	  -moz-border-radius: 10px;	/* Firefox用 */
    margin: 2px 0;
    text-decoration: none;
  }

  ul li a.current_page_mb{
    background-color: #70A288;
  }

  .next-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    color: #fff;
    background-color: #1A9A9A;
  }

  /* --- top section --- */
  #top_section {
    background-color: transparent;
  }
  img#top_image {
    float: right;
    width: 100%;
  }
  img.pc {
    display: none !important;
  }
  img.mobile {
    display: block !important;
    -webkit-filter: brightness(0.5);
  }
  .fa-chevron-down {
    -webkit-text-stroke: 0px #fff;
  }
  .catchphrase-box {
    position: relative;
    width: 100%;
    background-color: transparent;
  }
  .catchphrase {
    font-size: 3.8rem;
  }
  .sub-catchphrase {
    font-size: 1.2rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
    margin-top: 0px;
  }
  /* --- whatwedo --- */
  #whatwedo {
    padding: 30px 0;
  }
  #sora_pic {
    width: 50%;
  }
  p#caption_sora {
    right: -30px;
  }
  .casestudy_wrapper, .casestudy_wrapper_box {
    display: block;
  }
  .casestudy_wrapper {
    width: 85%;
  }
  .content {
    margin: 40px auto;
    width: 90%;
  }
  /* --- 3 points --- */
  #three-points{
    padding: 40px 0;
  }
  .points-wrapper, .points-box {
    display: block;
  }
  .points-icon-circle {
    font-size: 8rem;
  }
  .points-wrapper {
    margin: 30px auto;
  }
  .points-title {
    font-size: 1.6rem;
    margin: 10px 0;
  }
  .points-text {
    font-size: 1.3rem;
    margin: auto 20px;
    line-height: 1.4;
  }
  .points-box {
    margin-bottom: 25px;
  }
  /* --- solution --- */
  #your_solution {
    margin: 40px 0;
  }
  .pic_meeting {
    width: 100%;
    float: none;
    vertical-align: bottom;
  }
  .solution_box {
    width: 100%;
    float: none;
  }
  .solution_wrapper {
    margin: 0 auto;
    width: 100%;
    box-shadow: none;
  }
  .your_solution_catch {
    font-size: 2.6rem;
    margin: 0;
  }
  .your_solution_description {
    font-size: 0.8rem;
    margin: 4% 0;
  }
  .solution_button_deco {
    font-size: 1rem;
    width: 30%;
    text-align: center;
    float: right;
    padding: 6px;
  }
  /* --- contact ---*/
  .contact_wrapper {
    width: 100%;
    padding-bottom: 20px;
  }
  .contact_catchphrase {
    margin-bottom: 0;
  }
  .chat_sub {
    padding: 20px 0;
    margin: 0px 10px 10px 10px;
  }
  /* --- footer ---*/
  .cm_logo_footer {
    width: 40%;
    margin: 0;
  }
  .copywrite {
    font-size: 1rem;
  }
  .footer_center {
    text-align: center;
  }
}

@media (max-height: 567px) {
  .catchphrase {
    font-size: 3.6rem;
  }
  .sub-catchphrase {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  .arrow {
    display: none;
  }
}
