/* --------------------------------
 * header
 * -------------------------------- */

.current_page {
  color: #456990;
  font-family: 'Libre Baskerville', serif;
}

/* --------------------------------
 * top
 * -------------------------------- */

.colorfilter_wrapper {
  position: relative;
  background-color: #031D44;
}

img.colorfilter-image {
  height: 400px;
  width: 100%;
  display: block;
  opacity: .35;
}

.top_sub_catch, .top_main_deco {
  position: absolute;
  color: #fff;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
}

.top_main_deco {
  width: 100%;
  font-weight: 600;
  font-size: 4.5rem;
  top: 40%;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  letter-spacing: 1.5px;
}

.top_sub_catch {
  font-size: 1.6rem;
  line-height: 2.8rem;
  top: 63%;
}

/* --------------------------------
  * service_ex
  * -------------------------------- */

#service_ex {
  /*padding: 20px 0;*/
}

.solution_box {
  float: left;
  width: 25%;
  height: 100px;
}

.solution_box:hover{
  background-color: #E6EDFA;
}

.odd_box {
  background-color: #fff;
}

.even_box {
  background-color: #fff;
}

.solution_wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  box-shadow: none;
}

.solution_icon{
  position: absolute;
  width: 30%;
  height: 100px;
  top: 0;
  left: 0;
  margin: 0;
}

.solution_name{
  width: 55%;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  left: 65%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

img.solution_big_logo{
  width: 20%;
  height: 60px;
  top: 20%;
  left: 7%;
}

img.solution_aws{
  height: 50px;
  top: 25%;
}

/* --------------------------------
  * Alexa
  * -------------------------------- */

  #alexa,#customer{
    height: 600px;
    background-color: #F2F7FC;
    position: relative;
  }

  #aws,#iot{
    height: 600px;
    /*background-color: #F7F6DF;*/
    position: relative;
  }

  .colorfilter_wrapper_service_left,.colorfilter_wrapper_service_right{
    height: 600px;
    width: 470px;
    background-color: #031D44;
    position: absolute;
    top: 0;
  }

  .colorfilter_wrapper_service_left {
    left: 0;
  }

  .colorfilter_wrapper_service_right {
    right: 0;
  }

  img.service_pic{
    height: 600px;
    width: 470px;
    display: block;
    opacity: .55;
  }

  .service_description_left{
    position: absolute;
    top: 5%;
    left: 110%;
    font-family: 'Quicksand', sans-serif;
    font-size: 4rem;
    margin: 0;
    width: 150%;
    font-weight: lighter;
  }

  .service_description_sub_left{
    position: absolute;
    top: 17%;
    left: 110%;
    font-size: 1.8rem;
    margin: 0;
    width: 150%;
    font-weight: lighter;
  }

  .service_description_right{
    font-family: 'Quicksand', sans-serif;
    font-size: 4rem;
    margin: 0;
    font-weight: lighter;
  }

  .service_description_sub_right{
    font-size: 1.8rem;
    margin: 0;
    font-weight: lighter;
    width: 60%;
  }

  .jump_service{
    text-decoration: none;
    color: #333;
  }

  /* --------------------------------
  * AWS
  * -------------------------------- */

  #aws{

  }

  img.aws_pic{
    position: absolute;
    top: 0;
    right: 0;
  }

  /* --------------------------------
  * Customer
  * -------------------------------- */

  #customer{
  }

  /* --------------------------------
  * IoT
  * -------------------------------- */

  #iot{
  }
