/* --------------------------------
 * header
 * -------------------------------- */

.current_page {
  color: #456990;
}

/* --------------------------------
 * top
 * -------------------------------- */
#top{
  /*margin-bottom: 20px;*/
}

.colorfilter_wrapper {
  position: relative;
  background-color: #031D44;
}

img.colorfilter-image {
  height: 450px;
  width: 100%;
  display: block;
  opacity: .30;
}

.top_sub_catch, .top_main_deco {
  position: absolute;
  color: #fff;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
}

.top_main_deco {
  width: 100%;
  font-weight: 600;
  font-size: 4.5rem;
  top: 40%;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  letter-spacing: 1.5px;
}

.top_sub_catch {
  font-size: 1.6rem;
  line-height: 2.8rem;
  top: 62%;
  width: 75%;
}

/* --------------------------------
  * service_ex
  * -------------------------------- */

#service_ex {
  /*padding: 20px 0;*/
}

.solution_box {
  float: left;
  width: 25%;
  height: 100px;
}

.solution_box:hover{
  background-color: #E6EDFA;
}

.odd_box {
  background-color: #fff;
}

.even_box {
  background-color: #fff;
}

.solution_wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  box-shadow: none;
}

.solution_icon{
  position: absolute;
  width: 30%;
  height: 100px;
  top: 0;
  left: 0;
  margin: 0;
}

.solution_name{
  width: 55%;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  left: 65%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

img.solution_big_logo{
  width: 20%;
  height: 60px;
  top: 20%;
  left: 7%;
}

img.solution_aws{
  height: 50px;
  top: 25%;
}

/* --------------------------------
  * Services
  * -------------------------------- */

  #alexa,#customer{
    height: 315px;
    position: relative;
  }

  #aws,#iot{
    height: 315px;
    position: relative;
  }

  .service_description_box_left{
    position: relative;
    background-color: #D0F1ED;
    float: right;
    height: 315px;
    /*width: 1045px;*/
    /*レスポンシブ*/
  }

  .service_description_box_right{
    position: relative;
    background-color: #F0F7F4;
    float: left;
    height: 315px;
    /*width: 1045px;*/
    /*レスポンシブ*/
  }

  img.service_pic{
    height: 315px;
    width: 380px;
    display: block;
    margin: 0;
  }

  img.left_pic{
    float: left;
  }

  img.right_pic{
    float: right;
  }

  .service_description_box_wrapper{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .service_description_left,.service_description_right{
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
  }

  .service_description_sub_left,.service_description_sub_right{
    font-size: 1.8rem;
    margin: 20px 0;
    text-align: center;
  }

  .jump_service{
    text-decoration: none;
    color: #333;
  }

  .aws_description{
    font-size: 1.7rem;
  }

  /* --------------------------------
  * worldwide-support
  * -------------------------------- */

  #worldwide-support{
    text-align: center;
    margin: 20px 0;
    padding: 30px 0;

  }

  .worldwide{
    color: #333;
  }

  .other-location{
    /*text-decoration: none;*/
    color: #333;
  }

  .world_map{
    width: 40%;
    height: 30%;
  }

  .worldicons{
    width: 70px;
    height: 50px;
  }
