/* --------------------------------
  * service_ex
  * -------------------------------- */
#service_ex{
  margin: 40px 0;
}

.solution_wrapper {
  position: relative;
  height: 280px;
  /*box-shadow: none;*/
}

.solution_box {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 280px;
  background-color: #fff;
}

.solution_box:hover{
  background-color: #A3B7C4;
}

.solution_icon{
  /*position: absolute;
  top: 15%;*/
  margin: 0 auto;
  margin-top: 35px;
}

.solution_icon_migration{
  left: 43%;
}

.solution_icon_bigdata,.solution_icon_iot{
  left: 44%;
}

.solution_name{
  width: 90%;
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  left: 50%;
  top: 43%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

.solution_jump_description{
  width: 90%;
  position: absolute;
  font-size: 1.4rem;
  left: 5%;
  top: 56%;
  margin: 0;
  letter-spacing: 0.8px;
  line-height: 2.5rem;
}

.solution_center{
  background-color: #E6EDFA;
}

/* --------------------------------
* ex
* -------------------------------- */

#use-migration,#use-bigdata,#use-iot{
  padding: 40px 0;
  background-color: #C9F3EE;
}

#use-bigdata{
  background-color: #EFF8F4;
}

img.img_ex_size{
  width: 40%;
  height: 40%;
  object-fit: contain;
}

.usecase_ex_place{
  padding: 20px 0;
  text-align: center;
}

.ex_title{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 20px auto;
  width: 80%;
  letter-spacing: 1.5px;
}

.ex_description{
  font-size: 1.8rem;
  margin: 20px auto;
  width: 80%;
  letter-spacing: 0.8px;
  line-height: 3rem;
}

/* --------------------------------
  * tablet
  * -------------------------------- */

@media (max-width: 1024px) and (min-width: 768px) {

/*  solution_jump  */

  .solution_name{
    width: 100%;
    font-size: 2rem;
    left: 50%;
    top: 39%;
  }

  .solution_jump_description{
    width: 90%;
    font-size: 1.2rem;
    left: 5%;
    top: 50%;
    letter-spacing: 0.8px;
    line-height: 2.5rem;
  }

  /*  service  */

  img.img_ex_size{
    width: 90%;
  }
}

/* --------------------------------
 * smart phone
 * -------------------------------- */

@media (max-width: 767px) {
  /*navi*/
  .scroll-nav ul li a {
  font-size: 1.6rem;
  }

/*  services  */
  .solution_wrapper {
    margin: 0 auto;
    width: 90%;
    box-shadow: none;
    height: 750px;
  }

  .solution_box {
    text-align: center;
    float: none;
    width: 100%;
    height: 250px;
  }

  .solution_icon{
    top: 15%;
    /*left: 44.5%;*/
  }

  .solution_name{
    width: 100%;
    font-size: 2rem;
    left: 50%;
    top: 48%;
  }

  .solution_jump_description{
    width: 100%;
    font-size: 1.2rem;
    left: 0;
    top: 58%;
    letter-spacing: 0.8px;
    line-height: 2.5rem;
  }

  .bigdata_jump{
    font-size: 1.1rem;
  }

  img.img_ex_size{
    width: 100%;
  }

  .ex_title{
    font-size: 2.9rem;
    letter-spacing: 1.5px;
  }

  .ex_description{
    font-size: 1.7rem;
    letter-spacing: 0.8px;
    line-height: 3rem;
  }

}
