/* --------------------------------
 * top
 * -------------------------------- */

 .current_page{
 color: #456990;
 font-family: 'Libre Baskerville', serif;
}

/* --------------------------------
 * top
 * -------------------------------- */

.colorfilter_wrapper {
  position: relative;
  background-color: #031D44;
}

img.colorfilter-image {
  height: 400px;
  width: 100%;
  display: block;
  opacity: .4;
}

.top_sub_catch, .top_main_deco {
  position: absolute;
  color: #fff;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
}

.top_main_deco {
  font-weight: 600;
  font-size: 4.5rem;
  top: 45%;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  letter-spacing: 1.5px;
}

.top_sub_catch {
  font-size: 1.6rem;
  line-height: 2.8rem;
  top: 65%;
}

/* --------------------------------
 * service_ex
 * -------------------------------- */

#service_ex {
  padding: 20px 0;
}
