@charset "UTF-8";
/* --------------------------------
 * base
 * -------------------------------- */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: white;
  color: #333;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.main_phrase {
  color: #456990;
  font-size: 3rem;
  font-weight: 100;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.button {
  width: 140px;
  display: inline-block;
  border: solid 1px #333;
  text-align: center;
  float: right;
  padding: 10px;
}

.button_deco {
  color: #333;
  text-decoration: none;
  letter-spacing: 1px;
}

.button:hover {
  color: #456990;
  background-color: #fff;
}

/* --------------------------------
 * header
 * -------------------------------- */

#header {
  padding: 10px;
  color: white;
  background-color: #222222;
}

img#cm_logo {
  vertical-align: middle;
  margin: 5px 0 5px 20px;
}

p.head-navigation {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
  margin: 0;
}

.nav_margin {
  padding: 0 20px;
}

.nav_deco {
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-decoration: none;
}

.nav_deco:hover {
  color: #F45B69;
  opacity: 0.95;
}

.navi_group {
  float: right;
  padding: 10px 0;
}

/* --------------------------------
 * Top Section
 * -------------------------------- */

#top_section {
  background-color: #2E294E;
  /* opacity: 0.95; */
}

.catchphrase_deco {
  color: #F7F4DA;
  display: inline-block;
}

.catchphrase {
  font-size: 5.2rem;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

img#top_image {
  float: right;
  max-width: 100%;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}

img.pc {
  display: block !important;
}

img.mobile {
  display: none !important;
}

.catchphrase-box {
  position: relative;
  background-color: #2E294E;
  width: 400px;
}

.catchphrase-box-child {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 30px;
}

.sub-catchphrase {
  font-family: 'Libre Baskerville', serif;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 1.2px;
}

.arrow_place {
  /* text-align: center; */
  position: absolute;
  margin: 0;
  left: 45.5%;
}

.arrow {
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.arrow:hover {
  color: #333;
}

.fa-chevron-down {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1.8px #2E294E;
}

/* --------------------------------
* What we do
* -------------------------------- */

#whatwedo {
  height: 700px;
  text-align: center;
  background-color: #fff;
  padding: 30px 0;
}

.sub_copy_cms {
  font-size: 1.6rem;
  margin: 0 0 60px 0;
}

img.casestudy_img {
  margin-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

.content {
  position: relative;
  margin: 20px auto;
  width: 90%;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 0%;
  background-color: rgba(15, 139, 141, 0.85);
  color: #fff;
  padding: 5px;
  margin: 0;
}

p#caption_sora_description {
  position: absolute;
  top: 3%;
  right: 5%;
  margin: 0;
  color: #00D0DB;
  opacity: 0.4;
  font-size: 1.3rem;
}

p#caption_sora {
  position: absolute;
  top: 5%;
  right: 0;
  margin: 0;
}

#sora_pic {
  width: 80%;
}

.casestudy_wrapper {
  display: table;
  width: 95%;
  /* height: 266.5px; */
  margin: 20px auto;
  table-layout: fixed;
}

.casestudy_wrapper_box {
  display: table-cell;
}

.button_learn {
  float: none;
  color: #456990;
  background-color: #fff;
  border: solid 1px #456990;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 10px 0 30px 0;
}

.button_learn:hover {
  background-color: #456990;
  color: #fff;
  transition: all 0.5s ease;
}

/* --------------------------------
* 3 points
* -------------------------------- */

#three-points {
  height: 540px;
  text-align: center;
  background-color: #F3F7FB;
  padding: 30px 0;
}

.advantage {
  font-size: 3rem;
}

.points-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto;
  table-layout: fixed;
}

.points-box {
  display: table-cell;
}

.points-icon-circle {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  color: #0F8B8D;
  font-size: 10rem;
  border-radius: 50%;
}

.points-title {
  color: #456990;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.points-text {
  font-size: 1.5rem;
  margin: auto 25px;
  line-height: 1.6;
  text-align: center;
}

/* --------------------------------
* your_solution
* -------------------------------- */

#your_solution {
  height: 80%;
  margin: 80px 0;
  background-color: #fff;
}

.solution_wrapper {
  margin: 0 auto;
  width: 80%;
  box-shadow: -9px 10px 39px -1px rgba(15, 9, 1, 0.66);
}

.pic_meeting {
  width: 50%;
  height: 100%;
  float: left;
  -webkit-filter: sepia(50%);
  filter: sepia(50%)
}

.solution_box {
  position: relative;
  background-color: #0F8B8D;
  width: 50%;
  float: right;
  opacity: 0.9;
}

.your_solution_catch_wrapper {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.your_solution_catch {
  font-size: 4.5rem;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  padding: 0;
  color: #F7F4DA;
  margin: 0;
}

.your_solution_description {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  line-height: 1.8;
  margin: 6% 0;
  color: #fff;
}

.solution_button_deco {
  color: #fff;
  border: solid 1px #fff;
  font-size: 1rem;
}

/* --------------------------------
* contact
* -------------------------------- */

#contact {
  height: 300px;
  background-color: #F3F7FB;
}

.contact_wrapper {
  width: 80%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

.button_contact {
  float: none;
  color: #fff;
  background-color: #F45B69;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.button_contact:hover {
  background-color: #456990;
  color: #fff;
  transition: all 0.5s ease;
  letter-spacing: 2.5px;
}

.contact_catchphrase {
  font-size: 4rem;
  font-weight: bold;
}

/* --------------------------------
* footer
* -------------------------------- */

#footer {
  height: 120px;
  background-color: #222222;
}

.cm_logo_footer {
  margin: 30px 0 5px 15px;
}

.copywrite {
  color: #888;
  margin: 0 15px;
  font-size: 1.2rem;
}

/* --------------------------------
 * tablet
 * -------------------------------- */

@media (max-width: 1024px) and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .main_phrase {
    font-size: 2.5rem;
  }
  .button {
    width: 110px;
    padding: 5px;
    font-size: 1rem;
  }
  /* --- header --- */
  .nav_margin {
    margin: 20px 30px 10px 0;
  }
  /* --- top section --- */
  img.pc {
    display: block !important;
  }
  img.mobile {
    display: none !important;
  }
  .catchphrase-box {
    width: 315px;
  }
  .catchphrase {
    font-size: 4rem;
  }
  .sub-catchphrase {
    font-size: 1.2rem;
  }
  /* --- whatwedo --- */
  #whatwedo {
    height: 500px;
  }
  .caption {
    font-size: 1rem;
    padding: 5px;
    top: 0;
  }
  p#caption_sora_description {
    top: 4%;
    right: 4%;
    margin: 0;
    font-size: 0.8rem;
  }
  p#caption_sora {
    top: 0px;
    right: -30px;
  }
  /* --- 3 points --- */
  #three-points {
    height: 500px;
  }
  .points-wrapper {
    width: 90%;
    margin: 45px auto;
  }
  .points-text {
    font-size: 1.3rem;
  }
  .points-title {
    font-size: 1.6rem;
  }
  .sub_copy_cms {
    font-size: 1.3rem;
    margin: 0 0 45px 0;
  }
  /* --- solution --- */
  .solution_wrapper {
    width: 90%;
  }
  .your_solution_catch {
    font-size: 3rem;
  }
  .your_solution_description {
    font-size: 0.4rem;
  }
  /* --- contact ---*/
  #contact {
    height: 230px;
  }
  .contact_catchphrase {
    margin: 30px 0 15px 0px;
  }
}

/* --------------------------------
 * smart phone
 * -------------------------------- */

@media (max-width: 767px) {
  /* --- header --- */
  #header {
    height: 60px;
  }
  img#cm_logo {
    width: 70%;
    margin: 6px 6px;
  }
  .navi_group {
    display: none;
  }
  /* --- top section --- */
  #top_section {
    background-color: transparent;
  }
  img#top_image {
    float: right;
    width: 100%;
  }
  img.pc {
    display: none !important;
  }
  img.mobile {
    display: block !important;
    -webkit-filter: brightness(0.5);
  }
  .fa-chevron-down {
    -webkit-text-stroke: 0px #fff;
  }
  .catchphrase-box {
    position: relative;
    width: 100%;
    background-color: transparent;
  }
  .catchphrase {
    font-size: 3.8rem;
  }
  .sub-catchphrase {
    font-size: 1.1rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
}
  /* --- solution --- */
  .your_solution_catch {
    font-size: 2.8rem;
  }
  .your_solution_description {
    font-size: 0.4rem;
  }
}
